p {
    margin-top: 10px;
    margin-bottom: 10px;
    /* Tekst uitlijnen */
    text-align: justify;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
  }
  
  header {
    padding: 30px;
  }

    /* Wanneer je hovert over een listen item anchor : <li><a> ... </a></li> */
li a:hover {
    position: relative;
  }

li a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 0, 0);
}

li a:hover:after {
  transform: scaleX(1);
}

.mb-0 {
    text-align: center;
    font-family:monospace;
}

.opleiding {
    text-shadow: 0px 4px 10px rgba(125, 124, 125, 0.8);
    padding: 20px;
}

.row {
    width: 70%;
    text-align: left;
    padding-left: 50px ;
}

.col-sm-3 {
    font-size: medium;
    font-weight: bold;
    font-family: Tahoma;
}

.col-sm-9 {
    font-weight:lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer {
    color: black;
    clear: both;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:medium;
    font-weight: bold;
  }
  
